body {
    background-color: #ebebeb;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

H1 {
    background-color: #36413E;
    display: flex;
    width: display-width;
    color: #E0F2E9;
}
